{% extends  'base.html' %}
{% block content %}
    <h2>{{object.title}}</h2>
<div class="row question">
    <div class="col-1">
        <table>
            <tr>
                <td class="text-center">
                    <a href="{{object.get_absolute_url}}up/" id="up_question">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </a>
                </td></tr>
            <tr>
                <td class="text-center">
                    <span id="votes-question">{{object.votes}}</span>
                </td> </tr>
            <tr>
                <td class="text-center">
                    <a href="{{object.get_absolute_url}}down/" id="down_question">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                </td> </tr>
        </table>
    </div>
    <div class="col-11">
        <div class="row">
            <div class="col-12">
                {{object.text}}
            </div>
        </div>
        <div class="row justify-content-between">
        <div class="col-6">
        {% for tag in object.tags.all %}
            <span class="btn btn-success btn-sm btn-tag">
                {{tag.label}}
            </span>
        {% endfor %}
        </div>
        <div class="col-2">
            {{object.author}}
        </div>
    </div>
    </div>
</div>
{% for answer in object.answer_set.all %}
<div class="row answer">
    <div class="col-1">
        <table>
            <tr>
                <td class="text-center">
                    <a href="{{answer.get_absolute_url}}up/" id="answer_up">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </a>
                </td></tr>
            <tr>
                <td class="text-center" id="votes-answer-{{ answer.pk }}">
                    {{answer.votes}}
                </td> </tr>
            <tr>
                <td class="text-center">
                    <a href="{{answer.get_absolute_url}}down/" id="answer_down">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                </td> </tr>
            {% if answer.right %}
            <tr class="right-answer">
                <td>GRADE!</td>
            </tr>
            {% endif %}
            {% if question.author == request.user %}
            <a href="{{ answer.get_absolute_url_to_toggle_answer_as_right }}" id="toggle-right-answer-{{ answer.id }}"> mark as right answer </a>
            {% endif %}
        </table>
    </div>
    <div class="col-11">
        <div class="row">
            <div class="col-12">
                {{answer.text}}
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-2 offset-10">
                {{answer.author}}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if user.is_authenticated %}
<div class="display-4">Your answer</div>
<form action="" method="post" id="answer-form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group row">
        <div class="col-sm-10">
             <textarea class="form-control" name="{{field.html_name}}"></textarea>
            <span class="help-inline">
                {% for error in  field.errors %}{{ error }}{% endfor %}
            </span>
        </div>
    </div>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" id="send_answer_btn" class="btn btn-outline-success" >Submit</button>
    </div>
</form>
{% endif %}

{% endblock %}