.question {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 5px;
    margin-bottom: 40px;
}
.answer {
 border-bottom: 1px solid var(--gray);
    padding-bottom: 5px;
    margin-bottom: 20px;
    }
.btn-tag {
min-width: 70px;
}