<html>

<head>
    <title>{% block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar bg-light">
        <h1 id="logo" class="navbar-brand">Hasker</h1>
        <div id="search">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div id="user_block">
            {% if user.is_authenticated %}
<!--            TODO: add avatars-->
            {% if user.account.avatar.name %}
            <img src="{{ user.account.avatar.url }}" style="width:42px"/>
            {% endif %}
            <a class="btn btn-outline-success" href="{% url 'account_settings' %}" id="profile">{{user.username}}</a>
            <a class="btn btn-outline-success" href="{% url 'logout' %}" id="logout">Log out</a>
            {% else %}
            <a class="btn btn-outline-success" data-toggle="modal" data-target="#login_modal" id="login_btn">
                Log in
            </a>
            <a class="btn btn-outline-success" data-toggle="modal" data-target="#sign_up_modal" id="sign_up_btn">
                Sign up
            </a>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
    {% if messages %}
        <div class="alert-success">
            <ul class="messages ">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% block content %} {% endblock %}

    </div>
</body>

</html>