<div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form_login" method="POST" action="{% url 'login' %}?next={{request.path}}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="username" id='login_username' name="username" required>
                    <input type="password" class="form-control" placeholder="password" id='login_password' name="password" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" name="send_login_form" class="btn btn-outline-success" value="Log in">
                </div>
            </form>
        </div>
    </div>
</div>